html, body {
    overflow-x: hidden;
    width: 100%;
}

body {
    margin-top: 0;
    margin-left: 0;
    margin-left: 0;
    margin-bottom: 10px;
}

.body-div {
    background-image: url('images/futo.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}



main {
    display: flex;
    justify-content: center;
}

.assignment-link {
    height: 220px;
    width: 220px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: background-color 0.3s ease;
    position: relative;
    border: 3px solid rgb(29, 27, 27);
    border-radius: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
}

.assignment-link:hover {
    background-color: lightgray;
}

.assignment-link-button {
    background-color: rgb(12, 56, 10);
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 4px;
    width: auto;
}

.assignment-link-button button {
    background: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: white;
    cursor: pointer;
    width: auto;
    font-size: 15px;
}

.assignment-link:hover .assignment-link-button {
    opacity: 1;
}